@import 'tailwindcss';

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE and old Edge */
body {
  -ms-overflow-style: none; /* IE and old Edge */
}
